<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/css/main.css"/>
    <link type="text/css" rel="stylesheet" href="/css/menu.css"/>
    <title>Новая покупка</title>
</head>

<body>

<header>
    <div th:replace="~{fragments/header::header}">Шапка станицы</div>
</header>

<div>
    <form th:method="POST" th:action="@{/payments}" th:object="${newPayment}">
        <table border="1">

            <tbody>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}"></td>
            <tr>
                <td>Lastname:</td>
                <td><input type="text" th:field="*{lastname}"></td>
            </tr>
            <tr>
                <td>Age:</td>
                <td><input type="text" th:field="*{age}"></td>
            </tr>
            <tr>
                <td>Product</td>
                <td>
                    <select id="id" th:field="*{purchaseItem}">
                        <option value="0">Выберите продукт</option>
                        <option th:each="product : ${productList}"
                                th:value="${product.id}"
                                th:text="${product.name}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Count</td>
                <td><input type="text" th:field="*{count}"></td>
            </tr>
            <tr>
                <td>Amount</td>
                <td><input type="text" th:field="*{amount}"></td>
            </tr>
            <tr>
                <td>Purchase date</td>
                <td><input type="date" th:field="*{purchaseDate}"></td>
            </tr>
            </tbody>
        </table>
        <input type="submit" value="Заказать">
    </form>
</div>
</body>
</html>