<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/css/menu.css"/>
    <title>Панель навигации</title>
</head>
<body>
<div th:fragment="menu-panel">
    <nav>
        <ul class="topmenu">
            <li><a href="/">Главная</a></li>
            <li><a href="" class="submenu-link">Аналитика</a>
                <ul class="submenu">
                    <li><a th:href="@{/reports/sales/inLastWeeks}">Список покупок за последнюю неделю</a></li>
                    <li><a th:href="@{/reports/sales/bestseller}">Бестселлер месяца</a></li>
                    <li><a th:href="@{/reports/sales/bestbuyer}">Постоянный покупатель за последние полгода</a></li>
                    <li><a th:href="@{/reports/sales/byAge}">Фаворит 18-ти летних</a></li>
                </ul>
            </li>
            <li><a th:href="@{/payments}">Управление покупками</a></li>
        </ul>
    </nav>
</div>
</body>
</html>